.section-vision-coach {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 3rem;

  margin: 0 auto;
}

.vision-yourCoach {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
}

.yourCoach-title {
  width: 8%;
  background-color: #aeaeae;
  color: #010102;
  border-radius: 3px;
  padding: 0.10rem 0.20rem;
  margin: 0;
  margin-left: 10rem;
}

.yourCoach-content {
  background-color: #aeaeae;
  color: #010102;
  border-radius: 3px;
  padding: 0.75rem;
  font-size: 0.9em;
  font-style: italic;
  width: 72%;
  height: 7rem;
  margin: 0.40rem 0;
}

.vision-yourCoach-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1200px;

}

.vision-photoCoach {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    right: 380px;
    top: 350px;
}

.vision-objectiveSite {
  align-self: center;
  max-width: 1400px;
}

.objectiveSite-title {
  width: 12%;
  background-color: #65795b;
  border-radius: 3px;
  padding: 0.10rem 0.20rem;
  margin: 0;
}

.objectiveSite-content {
  background-color: #65795b;
  border-radius: 3px;
  padding: 0.75rem;
  font-size: 0.9em;
  font-style: italic;
  width: 60%;
  margin: 0.40rem 0;
}

.vision-kangourouRole {
  margin-top: 2rem;
  align-self: flex-end;
  max-width: 1400px;
}

.kangourouRole-title {
  width: 22%;
  background-color: #aeaeae;
  color: #010102;
  border-radius: 3px;
  padding: 0.10rem 0.20rem;
  margin: 0;
}

.kangourouRole-content {
  background-color: #aeaeae;
  color: #010102;
  border-radius: 3px;
  padding: 0.75rem;
  font-size: 0.9em;
  font-style: italic;
  width: 60%;
  margin: 0.40rem 0;
}